{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <strong><b>{{  customer_record.first_name }}
            {{  customer_record.last_name }}</b></strong><br/>
    </div>
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <p class="card-text">
        <strong>Email: </strong>{{  customer_record.email }}<br/>
        <strong>City: </strong>{{  customer_record.city }}<br/>
        <strong>Address: </strong>{{  customer_record.address }}<br/>
        <strong>State: </strong>{{  customer_record.state }}<br/>
        <strong>Zipcode: </strong>{{  customer_record.zipcode }}<br/>
        <strong>Date Created: </strong>{{  customer_record.created_at }}<br/>
      </p>
      <a href="#" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-primary">Back</a>

  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Update Record</a>
{% endblock %}